---
import '../styles/global.css';
import TournamentApp from '../components/TournamentApp';
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Turneringsstyring | Tournament Manager</title>
		<meta name="description" content="Administrer turneringer med Single Elimination, Double Elimination, Round Robin, Swiss System og Free For All formater" />
	</head>

	<body>
		<TournamentApp client:only="react" />
	</body>
</html>
